* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background: #111;
  font-family: Helvetica, Verdana, sans-serif;
}

body {
  display: grid;
  place-items: center;
}

canvas#gameCanvas {
  background: #000;
  border: 5px solid #fff;
}