body {
    font-family: 
        system-ui, 
        -apple-system, 
        Segoe UI, Roboto, 
        sans-serif;
    margin: 2rem auto; 
    max-width: 900px; 
    line-height: 1.5;
}
.container { display: block; }

h1 { 
    margin-bottom: .75rem; 
}
